__pycache__
.vscode
.codex
.pytest_cache
dist
build*
tests
*.egg-info
*.csv
*.json
test/3drtm
examples/test_figures
examples/models/models
examples/models/**
!examples/models/
!examples/models/**/
!examples/models/**/*.py
!examples/models/*/README*
!examples/models/**/.gitkeep
test/cuda
